/* Modal Text Area and Input */

.modal input[name="title"] {
    font-size: 32px;
    height: 50px;
    width: 100%;
    font-weight: 800;
}

.modal textarea[name="description"] {
    font-size: 22px;
    width: 100%;
    word-wrap: break-word;
}

.modal input, .modal textarea {
    border: 0 hidden #ffffff;
    background-color: transparent;
    font-weight: 500;
}

.modal input:focus, .modal textarea:focus, .modal button:focus {
    outline: none;
}

.modal hr {
    color: #808080;
}

.modal ::-webkit-input-placeholder {
    color: #808080;
}

/* Tag */

.modal .task-tag {
    font-size: 14px;
    line-height: 1.8;
    margin: 1px;
}

.modal .task-tag-list span.label {
    margin: 2px;
    font-size: 14px;
    line-height: 1.8;
    word-wrap: normal;
    display: inline-block;
}

.model .task-tag-remove {
    font-size: 10px;   
    display: inline-block;
}


/* Search */

#taskSearch, #taskSearch:focus {
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 32px;
    border-style: hidden;
    outline: none;
}

.task-search-item {
    margin: 3px 0;
    color: #000000;
    border-style: hidden;
    padding: 10px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
}

/* Task Tile */

.task-tile {
    color: #000000; 
    padding: 10px; 
    height: 95px; 
    border-radius: 2px; 
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 1px 4px;
}

a[data-toggle="dropdown"] .glyphicon {
    color: #000000;
}

.tile-title {
    word-wrap: break-word;
}

.tile-description {
    /* border-style: solid; 
    border-width: 0 0 0 2px;  */
    /* margin: 0 0 0 25px;  */
    overflow-x: hidden;
    overflow-y: hidden;
    word-wrap: break-word;
    height: 50%;
    /* padding: 0 0 0 10px; */
}


.btn-color span.glyphicon {
    color: #808080;
}

.btn-circle, .btn-circle:focus {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border-color: #808080;
    outline: none;
    transition: 0.5s;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    border-color: #eeeeee;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    border-color: #eeeeee;
}

.box{
	width:100px;
    height:100px;
    background:#f00;
}


.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%; 
    box-shadow: 0 2px 2px #efefef;
}

a:link,
a:visited,
a:hover{
    color: #fff;
    text-decoration: none;
}

@media (min-width: 992px) {
    .container-scroll {
      overflow-x: auto;
    }
    .container-scroll .columns-16 {
    width: 133.33333333vw;  /* = 100vw * 16/12 */
    }
    .container-scroll .columns-24 {
    width: 200vw;  /* = 100vw * 24/12 */
    }
    .container-scroll .col-md-2 {
    width: 16.66666667vw !important;
    }
}

.container-scroll > .row {
    margin-top: 24px;
}
.container-scroll > .row > .col-md-2 {
    font-weight: bold;
    text-align: center;
}