@import 'custom-variables';

body {
    background-color: $gray-custom;
    padding-right: 0 !important;
}

.navbar-custom {
    background-color: #ecf0f1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15);
    justify-content: left;
    height: 80px;
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: $primary-color;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;

    .logo {
        margin: 15px auto;
    }

    .sidebar-menu {
        padding-top: 50px;
    }

    ul, li {
        list-style: none;
        }
    
    a {
        border-left: 5px solid transparent;
        color: $white;
        display: block;
        padding: 15px 30px 15px 30px;
        white-space: nowrap;

        &:hover {
            background-color: $secondary-color;
            border-left: 5px solid $dark-blue;
            text-decoration: none;
        }
    
    }

    ul.sub {
        li {
            padding-left: 30px;
        }
    }
}

.hidden-toggle {
    display: none;
}

.main-content {
    margin-left: 210px;
}

.animation { 
    animation: expand .5s;
    margin-left: 0;
}

.reverse-animation { 
    @extend .main-content;
    animation: reverse-expand .5s;
}

@keyframes expand {
    from {margin-left: 210px;}
    to {margin-left: 0px;}
}

@keyframes reverse-expand {
    from {margin-left: 0px;}
    to {margin-left: 210px;}
}

#nav-icon-close {
    float: right;
    margin: 10px;
}

#nav-icon-open {
    margin-right: 10px;
}

.custom-toggle {
    cursor: pointer;
    height: 25px;
    position: relative;
    width: 30px;
    // margin: 10px;
    // -webkit-transform: rotate(0deg);
    // -moz-transform: rotate(0deg);
    // -o-transform: rotate(0deg);
    // transform: rotate(0deg);
    // -webkit-transition: .5s ease-in-out;
    // -moz-transition: .5s ease-in-out;
    // -o-transition: .5s ease-in-out;
    // transition: .5s ease-in-out;
}
  
.custom-toggle span {
    background: $dark-blue;
    border-radius: 9px;
    display: block;
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    // -webkit-transform: rotate(0deg);
    // -moz-transform: rotate(0deg);
    // -o-transform: rotate(0deg);
    // transform: rotate(0deg);
    // -webkit-transition: .25s ease-in-out;
    // -moz-transition: .25s ease-in-out;
    // -o-transition: .25s ease-in-out;
    // transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon-open span:nth-child(1) {
    top: 0px;
}

#nav-icon-open span:nth-child(2) {
    top: 9px;
}

#nav-icon-open span:nth-child(3) {
    top: 19px;
}

#nav-icon-close span:nth-child(1) {
    top: 15px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon-close span:nth-child(2) { 
    top: 15px;  
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

// .custom-toggle.open span:nth-child(1) {
//     top: 18px;
//     width: 0%;
//     left: 50%;
// }

// .custom-toggle.open span:nth-child(2) {
//     -webkit-transform: rotate(45deg);
//     -moz-transform: rotate(45deg);
//     -o-transform: rotate(45deg);
//     transform: rotate(45deg);
// }

// .custom-toggle.open span:nth-child(3) {
//     -webkit-transform: rotate(-45deg);
//     -moz-transform: rotate(-45deg);
//     -o-transform: rotate(-45deg);
//     transform: rotate(-45deg);
// }

// .custom-toggle.open span:nth-child(4) {
//     top: 18px;
//     width: 0%;
//     left: 50%;
// }

// title section
section{
    padding: 10px 0;
}

.long-copy{
    line-height: 145%;
    width: 1000%; 
    border-bottom: 3px solid #95a5a6;
    margin-top: 10px;
    padding-bottom: 5px;
    display: inline;
}
//avatar icon
.avatar{
    width: 50px;
    height: 50px;
    background: #95a5a6;
    border-radius: 50px;
}



//.search{
//    widows: 100px;
//    margin: 0px auto !important;
//    float: none;
//    text-align: center;
//
//}

.main-nav{
    justify-content: right;
    list-style: none;
    margin: 0px auto !important;
    margin-top: 55px;

}

.main-nav li {
    display: inline;
    margin-right: 40px;
}



//Custom Search Box

.box{
    margin: 100px auto;
    width: 300px;
    height: 50px;
}

.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
    color: $dark-gray;
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}
