#kanbanBoard {
    transition: all 0.2s ease-in-out;
}

#kanbanBoard .card-header {
    border-radius: 0;
}

#kanbanBoard .card-header span i {
    font-size: 18px;
    color: #38b5ff;
}

#kanbanBoard .card-header span i:hover {
    color: #3679b2;
}

#kanbanBoard .card {
    transition: all 0.2s ease-in-out;
}

#kanbanBoard .kanban-task {
    transition: all 0.2s ease-in-out;
}


/* Highlight */
#kanbanBoard.highlight {
    background-color: rgba(0, 0, 0, 1);
}


#kanbanBoard.highlight>.card-group>.card {
    background-color: rgba(0, 0, 0, 1);
}

#kanbanBoard.highlight>.card-group>.card>.card-header {
    color: #fff;
}

#kanbanBoard.highlight .kanban-task.active {
    opacity: 1;
}

#kanbanBoard.highlight .kanban-task {
    opacity: 0.1;
}


/* Column */
#addColumnName {
    outline: none;
    padding-left: 5px;
}

.kanban-column-title {
    outline:none;
}