#kanbanBoard {
    /* background-color: #fafafa; */
    /* color: #fafafa; */
    /* font-family: 'Shadows Into Light'; */
    font-family: 'Slabo 27px';
    height: 100%;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}


#kanbanBoard .task-tile {
    transition: all 0.2s ease-in-out;
}


/* Highlight */
#kanbanBoard.highlight {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}


#kanbanBoard.highlight .task-tile.active {
    opacity: 1;
}


#kanbanBoard.highlight .task-tile {
    opacity: 0.1;
}


#kanbanBoard>.row {
    height: 100%;
    padding: 0px;
    margin: 0px;
}


#kanbanBoard>.row>.col-md-4 {
    padding: 0px;
    margin: 0px;
}


.kanban-panel {
    border-style: dashed;
    height: 100%;
    padding: 2px;
    -webkit-overflow: auto;
    -moz-overflow: auto;
    -ms-overflow: auto;
    -o-overflow: auto;
    overflow: auto;
}


.kanban-panel>.row {
    min-height: 70px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


.kanban-panel .panel-title {
    font-size: 48px;
    font-weight: 700em;
    text-align: center;
    width: 100%;
    border-bottom: 2px; 
    border-style: dashed;
    padding: 5px;
    margin-bottom: 10px;
}


.kanban-panel .panel-content {
    min-height: 70px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


.kanban-panel#todoPanel {
    border-width: 0px 0px 0px 0px;
}


.kanban-panel#doingPanel {
    border-width: 0px 2px;
}


.kanban-panel#donePanel {
    border-width: 0px 0px 0px 0px;
}