html, body {
    height: 100%;
}

.main-content {
    height: 100%;
}

/* Kanban Board */
#kanbanBoard {
    background-color: #fafafa;
    /* color: #fafafa; */
    /* font-family: 'Shadows Into Light'; */
    font-family: 'Slabo 27px';
    height: calc(100% - 80px);
    padding: 0px;
    margin: 0px;
}


#kanbanBoard>.row {
    height: 100%;
    /* overflow-y: scroll; */
}


#kanbanBoard>.row>.col-md-4 {
    /* height: 100%; */
    padding: 0px;
}


.kanban-panel {
    border-style: dashed;
    height: 100%;
    /* border-color: rgba(255, 255, 255, 0.5); */
    padding: 2px;
}


.kanban-panel>.row {
    min-height: 70px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
}


.kanban-panel .task-tile {
    margin: 10px 0px;
}


#kanbanBoard .panel-title {
    font-size: 48px;
    font-weight: 700em;
    text-align: center;
    width: 100%;
    border-bottom: 2px; 
    border-style: dashed;
    padding: 5px;
    margin-bottom: 10px;
    /* margin: 0px 3px; */
    /* border-color: rgba(0, 0, 0, 0.5) */
}


#kanbanBoard #todoPanel {
    /* background-color: rgba(128, 128, 128, 0.70) */
    border-width: 0px 0px 0px 0px;
}


#kanbanBoard #doingPanel {
    /* background-color: rgba(128, 128, 128, 0.70) */
    border-width: 0px 2px;
}


#kanbanBoard #donePanel {
    /* background-color: rgba(128, 128, 128, 0.70) */
    border-width: 0px 0px 0px 0px;
}


/* Task Board */
.task-tag-board {
    margin: 10px;
}


#taskTileList {
    padding: 10px;
}


/* Task_modal */
.modal input.heading {
    height: 50px;
    width: 100%;
}


.modal textarea {
    width: 100%;
    word-wrap: break-word;
    resize: none;
    overflow-x: hidden;
    overflow-y: hidden;
}


.modal input, .modal textarea {
    border: 0 hidden #ffffff;
    background-color: transparent;
}


.modal input:focus, .modal textarea:focus, .modal button:focus {
    outline: none;
}


/* Note_modal */
.modal .task-note-label {
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    width: 100%;
}


.modal .task-note-box {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0 5px;
    padding: 10px 20px;
}


.modal .task-note-list {
    margin: 10px;
}


.modal .task-note-list-item {
    /* padding: 5px; */
    margin: 0px;
}


.modal .task-note-user {
    width: 75%;
    padding-bottom: 75%;
}


.modal .task-note-text {
    font-weight: 500;
    /* width: 100%;
    height: 100%; */
    background-color: #ffffff;
    border-radius: 15px;
}
/* end-of-Note_modal */


/* Tag_modal */
.modal .task-tag {
    font-size: 14px;
    line-height: 1.8;
    margin: 1px;
}


.modal .task-tag-list span.label {
    margin: 2px;
    font-size: 14px;
    line-height: 1.8;
    word-wrap: normal;
    display: inline-block;
}


.model .task-tag-remove {
    font-size: 10px;   
    display: inline-block;
}
/* end-of-Tag_modal */


/* View_task_modal */
.heading {
    font-weight: 800;
    font-size: 32px;
}


.body {
    font-weight: 500;
    font-size: 22px;
}


.no-task-text {
    margin: 50px auto;
    font-size: 64px;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.70);
    text-shadow: -1px -1px 3px;
    text-align: center;
}
/* end-of-View_task_modal */


/* Other */
.modal ::-webkit-input-placeholder {
    color: #808080;
}
/* end-of-Task_modal */


/* Team_modal */
.modal .team-member {
    font-size: 14px;
    line-height: 1.8;
    margin: 1px;
}


.modal .team-member-label {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}


.modal .team-member-list span.label {
    margin: 2px;
    font-size: 14px;
    line-height: 1.8;
    word-wrap: normal;
    display: inline-block;
}


.model .team-member-remove {
    font-size: 10px;   
    display: inline-block;
}
/* end-of-Team_modal */


/* Create Task button*/
.createTaskButton{
    width: 100px;
    height: 100px;
    background-color: black;
        
}


/* Search */
#taskSearch, #taskSearch:focus {
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 32px;
    border-style: hidden;
    outline: none;
}


/* Add Task Search */
.addTaskSearch{
    width: 65%; 
    height: 40px;
    margin: 50px auto;
    font-size: 10px;
    border-style: hidden;
    outline: none;
}


.task-search-item {
    margin: 3px 0;
    color: #000000;
    border-style: hidden;
    padding: 10px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
}


/* Task Tile
.task-tile1{
    color: #000000; 
    padding: 20px;
    width: inherit;
    height: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}
*/


.task-tile {
    color: #000000; 
    padding: 20px; 
    height: auto; 
    border-radius: 2px; 
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 1px 1px;
    transition-duration: 0.2s;
}


.task-tile.task-create {
    border: 2px solid #000; 
    background-color:#fff   ;
    /* color: #fff; */
    padding:20px;
}


.task-tile>.container>.row {
    height: 100%;
}


.tile-title {
    word-wrap: break-word;
    font-weight: bold;
    font-size: 20px;
}


.tile-description {
    overflow-x: hidden;
    overflow-y: hidden;
    word-wrap: break-word;
    font-weight: 500;
    font-size: 14px;
}


/* Color Button */
.btn-color span.glyphicon {
    color: #808080;
}


.btn-circle, .btn-circle:focus {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border-color: #808080;
    outline: none;
    transition: 0.5s;
}


.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    border-color: #eeeeee;
}


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    border-color: #eeeeee;
}


/* Other */
.box{
	width:100px;
    height:100px;
    background:#f00;
}


.circle{
    background-color: #808080;
	border-radius: 50%;
	color: #ffffff;
	/* height: 100; */
	width: 100%;
	padding-bottom: 100%;
}


.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%; 
    box-shadow: 0 2px 2px #efefef;
}


a:link, a:visited, a:hover{
/*    color: #fff;*/
    text-decoration: none;
}


@media (min-width: 992px) {
    .container-scroll {
      overflow-x: auto;
    }
    .container-scroll .columns-16 {
    width: 133.33333333vw;  /* = 100vw * 16/12 */
    }
    .container-scroll .columns-24 {
    width: 200vw;  /* = 100vw * 24/12 */
    }
    .container-scroll .col-md-2 {
    width: 16.66666667vw !important;
    }
}

.container-scroll > .row {
    margin-top: 24px;
}

.container-scroll > .row > .col-md-2 {
    font-weight: bold;
    text-align: center;
}




